<div class="container">
<div class="password-form-container">
  <h2>Save password</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Site name</mat-label>
      <input matInput formControlName="siteName" type="text" required>
      <mat-error *ngIf="passwordForm.controls['siteName'].invalid && passwordForm.controls['siteName'].touched">
        Enter a site name
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text">
      <mat-error *ngIf="passwordForm.get('username')?.hasError('required') && passwordForm.controls['username'].touched">
        Enter a username
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
      <mat-error *ngIf="passwordForm.get('password')?.hasError('required') && passwordForm.controls['password'].touched">
        Enter a password
      </mat-error>
    </mat-form-field>

    <button *ngIf="publicKey === ''" mat-raised-button color="primary" (click)="generateKeys()" >Generate Keys</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid || publicKey === ''">Save</button>
  </form>
</div>
</div>