.password-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
}

p {
  color: red;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://png.pngtree.com/background/20211217/original/pngtree-abstract-background-of-matrix-digital-space-picture-image_1593623.jpg') no-repeat center center/cover;
}

a {
  cursor: pointer;
  text-decoration: underline;
  display: block;
  margin-top: 20px; 
  color: #3f51b5; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}