<div class="container">
<div class="password-manager-container">
  <h2>Password Manager</h2>
  <button class="add-button" color="primary" (click)="addPassword()">
    + Add New Password
  </button>
<div>
    <label>Upload Private Key:</label>
    <input type="file" (change)="onKeyFileUpload($event)">
  </div>
  <table class="password-table">
    <thead>
      <tr>
        <th>Site</th>
        <th>Username</th>
        <th>Password</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of passwordList">
        <td>{{ p.siteName }}</td>
        <td>{{ p.username }}</td>
        <td>{{ showPassword(p.password) }}</td>
        <td><button *ngIf="p.password.length < 50" (click)="showList(p)">Share</button></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="selectedPassword !== null" class="emails">
    <label for="emailSelect">Select email:</label>
    <select id="emailSelect" [(ngModel)]="selectedEmail">
      <option *ngFor="let email of emails" [value]="email">
        {{ email }}
      </option>
    </select>

    <p>You selected: {{ selectedEmail }}</p>
    <button (click)="share()">Share</button>
  </div>

  <table class="password-table">
    <thead>
      <tr>
        <th>Site</th>
        <th>Friend's username</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of sharedPasswordList">
        <td>{{ p.siteName }}</td>
        <td>{{ p.username }}</td>
        <td>{{ showPassword(p.password) }}</td>
      </tr>
    </tbody>
  </table>

</div>
</div>