<div class="container">
<div class="password-manager-container">
  <h2>Password Manager</h2>
  <button class="add-button" color="primary" (click)="addPassword()">
    + Add New Password
  </button>
<div>
    <label>Upload Private Key:</label>
    <input type="file" (change)="onKeyFileUpload($event)">
  </div>
  <table class="password-table">
    <thead>
      <tr>
        <th>Site</th>
        <th>Username</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of passwordList">
        <td>{{ p.siteName }}</td>
        <td>{{ p.username }}</td>
        <td>{{ showPassword(p.password) }}</td>
      </tr>
    </tbody>
  </table>

</div>
</div>