.password-manager-container {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative
}

.password-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.password-table th,
.password-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.password-table th {
  background-color: #f4f4f4;
}

.add-button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.add-button:hover {
    background-color: #ccc;
}

h2 {
    text-align: center;
    /* margin-top: 100px; */
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://png.pngtree.com/background/20211217/original/pngtree-abstract-background-of-matrix-digital-space-picture-image_1593623.jpg') no-repeat center center/cover;
}

